USE [facturasss]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[id_articulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precioUnitario] [float] NULL,
	[stock] [int] NULL,
 CONSTRAINT [pk_articulos] PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_articulo] [int] NULL,
	[cantidad] [int] NULL,
	[nrofactura] [int] NULL,
	[monto] [float] NULL,
 CONSTRAINT [pk_detalle] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[nroFactura] [int] IDENTITY(2000,1) NOT NULL,
	[fecha] [datetime] NULL,
	[idforma] [int] NULL,
	[cliente] [varchar](50) NULL,
 CONSTRAINT [pk_facturas] PRIMARY KEY CLUSTERED 
(
	[nroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formapagos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formapagos](
	[idforma] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [pk_formapagos] PRIMARY KEY CLUSTERED 
(
	[idforma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_articulo] FOREIGN KEY([id_articulo])
REFERENCES [dbo].[articulos] ([id_articulo])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_articulo]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_factura] FOREIGN KEY([nrofactura])
REFERENCES [dbo].[facturas] ([nroFactura])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_factura]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_formapago] FOREIGN KEY([idforma])
REFERENCES [dbo].[formapagos] ([idforma])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_formapago]
GO
/****** Object:  StoredProcedure [dbo].[sp_guardar_Articulos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_guardar_Articulos]
    @id int output,
    @nombre varchar(50),
    @precio numeric(18,2),
    @stock int
as
begin
    set nocount on;

    if @id = 0
    begin
        insert into articulos(nombre, precioUnitario, stock)
        values(@nombre, @precio, @stock);

        set @id = scope_identity();
    end
    else 
    begin
        update articulos
        set nombre = @nombre,
            precioUnitario = @precio,
            stock = @stock
        where id_articulo = @id;
    end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_Detalle]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_insertar_Detalle]
    @id int output,
    @articulo int,
    @cantidad int,
    @nroFactura int,
    @monto numeric(18,2)
as
begin
    set nocount on;

    insert into Detalle_Factura(id_articulo, cantidad, nrofactura, monto)
    values(@articulo, @cantidad, @nroFactura, @monto);

    set @id = scope_identity();
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_Maestro]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_insertar_Maestro]
    @nro int output,
    @tipo int,
    @cliente varchar(50)
as
begin
    set nocount on;

    if @nro = 0
    begin 
        insert into facturas(fecha,idforma,cliente)
        values(getdate(), @tipo, @cliente);

        set @nro = scope_identity();
    end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Articulos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_recuperar_Articulos]
as
begin
    set nocount on;

    select * 
    from articulos;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Articulos_id]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_recuperar_Articulos_id]
@id int output
as
begin
    set nocount on;

    select * 
    from articulos
    where id_articulo=@id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Facturas]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_recuperar_Facturas]
as
begin
    set nocount on;

    select * 
    from facturas;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Facturas_nro]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_recuperar_Facturas_nro]
    @id int
as
begin
    set nocount on;

    select * 
    from facturas
    where nroFactura=@id;
end
GO
